*, html {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 500;
	font-family: 'Ronduit Capitals', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
}

.text, p {
	font-weight: 300;
	font-family: 'Comfortaa', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: rgb(245,245,245);
}

.navbar-brand {	
	padding-top: .5rem!important;
}

nav .dropdown i {
	color: rgba(255,255,255,.5);
}

nav .dropdown-toggle::after {
	content: none!important;
}

main {
	background-color: #000405;
	background-image: url("../images/stardust.png");
}

.home video.bgc {
	position: relative;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: 10;
	overflow: hidden;
}

.home .hero {
	display: inline-block;
	position: absolute;
	margin-top: 20vh;
	margin-left: 80vh;
	z-index: 200;
}

.home .hero h1 {
	margin-bottom: 2rem;
	text-align: center;
}

section {
	width: 100%;
	height: 100%;
}

section#menu {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #000405;
	background-image: url("../images/stardust.png");
}

section#menu div.menu-items-wrapper {
	border-radius: 16px;
	background-color: rgba(75,75,75,.2);
	padding: 2rem 1rem;
}

section#menu div.menu-item {
	cursor: pointer;
	display: inline-block;
}

section#menu div.menu-item:hover {
	background-color: rgba(100,100,100,.5);
}

section#menu a {
	color: white!important;
	font-size: 120%;
	line-height: 50px;
}

section#menu a:hover {
	text-decoration: none;
}

section#menu div.img-wrapper {
	background-color: white;
	border-radius: 16px;
	padding: 16px;
	border: solid 1px #ddd;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

section#menu div.span-wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
}

section#menu img {
	display: inline;
	width: 100%;
	height: 100%;
}

nav.section-title {
	width: 50%;
	margin: 1rem auto 3rem auto;
}

nav.section-title div.section-img-wrapper {
	background-color: white;
	border-radius: 16px;
	padding: 8px;
	border: solid 1px #ddd;
	text-align: center;
	width: 8%;
	margin-left: auto;
	margin-right: auto;
}

nav.section-title div.section-quote-wrapper {
	margin-top: 4rem;
	line-height: 1.2rem;
	width: 100%;
}

nav.section-title div.section-quote-wrapper h3.quote {
	font-style: italic;
	color: rgba(200,200,200,.9);
}

nav.section-title div.section-quote-wrapper h4.author {
	margin-top: 2rem;
	color: rgba(200,200,200,.9);
}

nav.section-title img {
	width: 100%;
	height: 100%;
}

footer {
	color: white!important;
}

footer a {
	color:white!important;
	text-decoration: none!important;
}

footer a:hover {
	text-decoration: underline!important;
}

footer div#media {
	font-size: 2.2rem;
}

footer div#media a {
	cursor: pointer;
}

footer div#media a i {
	text-align: center;
}

footer div#media a:hover i {
	color: rgba(255,255,255,.75);
}