<div class="subsection-gallery w-75 ml-auto mr-auto text-center">

	<h1 class="text-left pl-5 ml-3 mb-4">$gallery_string</h1>
	
	{$gallery_cards}

</div>

<div class="modal fade" id="gallery-modal" tabindex="-1" role="dialog" aria-labelledby="$gallery_string" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content bg-dark">
		  	<div class="modal-header">
				<h5 class="modal-title">$gallery_string</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="$close_string">
					<span aria-hidden="true">X</span>
				</button>
		  	</div>
		  	<div class="modal-body">
				<div id="gallery-carousel-indicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#gallery-carousel-indicators" data-slide-to="$gallery_img_index" class="active"></li>
					</ol>
					<div class="carousel-inner">
						{$gallery_carousel_items}
					</div>
					<a class="carousel-control-prev" href="#gallery-carousel-indicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">$previous_string</span>
					</a>
					<a class="carousel-control-next" href="#gallery-carousel-indicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">$next_string</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>