<div class="container" id="section-highlights">
	<div class="row">
		<div class="col-4">
			<div class="row">
				<span class='number'>$stat1</span>
			</div>
			<div class="row">
				<span class='item'>$stat1_text</span>
			</div>
		</div>
		<div class="col-4">
			<div class="row">
				<span class='number'>$stat2</span>
			</div>
			<div class="row">
				<span class='item'>$stat2_text</span>
			</div>
		</div>
		<div class="col-4">
			<div class="row">
				<span class='number'>$stat3</span>
			</div>
			<div class="row">
				<span class='item'>$stat3_text</span>
			</div>
		</div>
	</div>
	<div class="row">
		<span class="text-small mt-3 text-right w-100 mr-0">$last_update</span>
	</div>
</div>
<div id="section-mosaic">
	<div class="card-columns ml-auto mr-auto mt-3">
		{$cards_mosaic}
	</div>
</div>